@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/background.png);
	font-family: Arial,Helvetica,sans-serif;
	font-size: .8em;
	color: #514c49;
}

#outer {
	border-style: solid;
	border-color: #bfbdb2;
	width: 1000px;
	margin: 0px auto;
	box-shadow: 0px 0px 15px 2px #8f8d82;
	background-color: #e7e2c9;
}

#page {
	overflow: hidden;
	border-style: solid;
	border-color: #e7e2c9;
	padding: 10px;
	padding-top: 40px;
	margin: 0px;
	background-color: #fcf9e9;
}

#logged_in #outer {
	margin-top: -30px;
	border-width: 0px 7px;
}

#logged_out #outer {
	margin-top: 20px;
	border-width: 7px;
	border-radius: 20px;
}

#logged_in #page {
	border-width: 0px 7px;
}

#logged_out #page {
	border-width: 7px;
	border-radius: 15px;
}

#logged_in .clear {
	clear: both;
	visibility: hidden;
	margin: 2px;
}

#logged_out .clear {
	visibility: hidden;
}

/* Header */

header {
}

header img {
	float: left;
	margin: -10px 20px 5px 5px;	
}

/* Forms */
form {
	width:300px;
}

fieldset {
	margin: auto 5px;
	border: 0px;
}

legend {
	font-family: 'Cherry Swash', cursive;
	font-size: 1.3em;
	font-weight: bold;
  text-shadow: 1px 1px 0px #d1d1d1;
}

label {
	font-family: 'Cherry Swash', cursive;
	font-size: .9em;
	font-weight: bold;
  text-shadow: 1px 1px 0px #d1d1d1;
}

#switch-link {
	font-family: 'Cherry Swash', cursive;
	font-size: 3em;
	font-weight: bold;
  text-shadow: 1px 1px 0px #d1d1d1;
	float: right;
	text-decoration: none;
	color: #514c49;
}

/* Navigation */
nav {
	float: right;
	margin: -20px 0px;
}

nav, nav a {
	font-size: .9em;
	color: #514c49;
	padding-right: 5px;
}

/* Links */

a:link, a:visited, a:hover, a:active {
	color: #514c49;
	text-decoration: none;
}